*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
}
h4{
    font-size: 1.2em;
}
h1{
    font-size: 1.6em;
}
body{
    width: 100%;
    .img-bg{
        position: fixed;
        top: 0;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .main{
        width: 100%;
        nav{
            padding-left: 20px;
            width: 100%;
            position: fixed;
            top: 0;
            display: flex;
            justify-content: left;
            align-items: center;
            z-index: 99;
            background-color: rgba($color: #fff, $alpha: 0.8);
            .cola{
                width: 70%;
                padding-left: 1em;
                ul{
                    display: flex;
                    gap: 1em;
                    li{
                        list-style: none;
                        a{
                            color: rgb(0, 0, 0);
                            transition: all .8s;
                        }
                        a:hover{
                            color: rgb(11, 13, 148);
                        }
                    }
                    
                    li:hover{
                            
                        color: rgb(11, 13, 148);
                    }
                }
            }
            .colb{
                width: 25%;
                .logo{
                    width: 65px;
                    float: right;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        border-radius: 50%;
                        width: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                    img:hover{
                        transform: scale(1.5);
                    }
                }
            }
        }
        .home{
            transition: all 2s;
            z-index: 2;
            width: 90%;
            margin-top: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            position: sticky;
            .img{
                width: 46%;
                background-image: linear-gradient(to top, transparent 0% 16%, rgba(172, 170, 166, 0.7) 16% 80%, transparent 80% 100%);    
                img{
                    width: 100%;
                    min-height: 70vh;
                    object-fit: cover;
                }
            }
            .text{
                background-color: antiquewhite;
                height: 75vh;
                overflow: hidden;
                width: 46%;
                text-align: left;
                padding: 20px;
                h1{
                    font-style: italic;
                }
                p{
                    padding-top: 10px;
                    font-size: .8em;
                }
            }
        }
        .service{
            padding-top: 150px;
            width: 100%;
            background-image: linear-gradient(to bottom, transparent 0% 5%, rgba(71, 71, 70, 0.7) 20% 85%, transparent 95% 100%);
            position: sticky;
            padding-bottom: 150px;
            text-align: center;

            h1{
                font-style: italic;
                color: #fff;
                padding-bottom: 50px;
                font-size: 1.2em;
                text-transform: uppercase;
            }
            .container{
                width: 85%;
                margin: auto;
                display: grid;
                gap: 4%;
                grid-template-columns: repeat(4, 22%);
                grid-template-rows:repeat(2, 50vh) ;
                .child{
                    border: 4px solid rgba($color: #fff, $alpha: .8);
                    color: #fff;
                    position: relative;
                    transition: all 2s;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .teni{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        z-index: 1;
                        text-align: center;
                        background-color: rgba(71, 71, 70, 0.7);
                        cursor: pointer;
                        h5{
                            font-size: 1em;
                            
                        }
                        p{
                            font-size: .7em;
                            font-weight: 400;
                        }
                        ul{
                            text-align: left;
                            padding-left: 9%;
                            padding-top: 5%;
                            li{
                                font-size: 0.8em;
                                font-weight: 200;
                            }
                        }
                    }
                    .teni:hover{
                        background-color: transparent;
                        color: #000000;
                    }
                    .teni:hover li{
                        font-weight: 700;
                        font-size: .9;
                    }
                    .teni:hover  p{
                        display: none;
                    }

                }
                .child:hover img{
                    transition: all 2s;
                    transform: scale(1.3);
                }
            }
        }
        .work{
            padding-bottom: 50px;
            position: sticky;
            width: 100%;
            background-image: linear-gradient(to bottom,transparent 0% 1%, rgba(255,255,255,.4) 10% 90%, transparent 98% 100%);
            text-align: center;
            h1{
                font-style: italic;
                padding-top: 100px;
                color: rgb(49, 47, 47);
                padding-bottom: 20px;
                font-size: 1.2em;
                text-transform: uppercase;
            }
            .container{
                width: 85%;
                margin: auto;
                padding: 20px;
                .row{
                    padding-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: space-around;
                    .img{
                        width: auto;
                        box-sizing: border-box;
                        border: 2px solid white;
                        cursor: pointer;
                        height: 250px;
                        
                        box-shadow: 0 1px 12px 10px rgba(77, 76, 76, .7);
                        img{
                            width: auto;
                            height: 100%;
                        }
                        video{
                            height: 100%;
                        }
                    }
                    .img:hover img{
                        transform: scale(1.5);
                    }
                    .img:hover video{
                        transform: scale(1.5);
                    }
                    .smile:hover{
                        transform: scale(1.2);
                    }
                    .smile{
                        height: 500px;
                        display: grid;
                        gap:1%;
                        grid-template-columns: 49.5% 49.5%;
                        grid-template-rows:49.5% 49.5% ;
                        img{
                            height: 100%;
                        }
                    }
                }

            }
        }
        .contact{
            position: sticky;
            width: 100%;
            background-color: rgb(231, 227, 227);
            .container{
                width: 85%;
                margin: auto;
                display: flex;
                padding: 20px;
                .img{
                    padding: 15px;
                }
                img{
                    height: 200px;
                    width: 100px;
                    object-fit: cover;
                    background-position: top;
                }
                .holboo{
                    height: 80px;
                    padding-bottom: 10px;
                    border-radius: 100px;
                    padding-left: 20px;
                    padding-right: 10px;
                    padding-top: 10px;
                    background-color: white;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                    p{
                        font-size: .8em; 
                    }
                }
                @keyframes holboo {
                    0% {
                        transform: rotate(0deg);
                    }
                    25% {
                        transform: rotate(-1deg);
                    }
                    50% {
                        transform: rotate(2deg);
                    }
                    75% {
                        transform: rotate(-2deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }   
                }
            }
            .container:hover .img{
                animation: holboo 2s linear infinite;
            }
            .form{
                color: #252323;
                justify-content: center;
                align-items: center;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                input{
                    width: 300px;
                    font-size: .8em;
                    padding: 4px;
                }
                .medeelel{
                    width: 150px;
                    height: 30px;
                    border-radius: 15px;
                    cursor: pointer;
                    margin-top: 20px;
                }
                @keyframes bounce {
                    15% {
                        transform: translateY(0);
                    }
                    35% {
                        transform: translateY(-35%);
                    }
                    45% {
                        transform: translateY(0%);
                    }
                    55% {
                        transform: translateY(-20%);
                    }
                    70% {
                        transform: translateY(0%);
                    }
                    80% {
                        transform: translateY(-10%);
                    }
                    90% {
                        transform: translateY(0%);
                    }
                    95% {
                        transform: translateY(-2%);
                    }
                    99% {
                        transform: translateY(0%);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
            }
            .container:hover button{
                animation: bounce 1.5s linear infinite;
            }
            .medeelel:hover{
                background-image: linear-gradient(grey, white, white, grey);
            }
            .holbogdoh{
                color: #252323;
                width: 300px;
                display: flex;
                justify-content: start;
                padding-top: 20px;
                align-items: center;
                flex-direction: column;
                h4{
                padding-bottom: 20px;
                }
                .icon{
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                    i{
                        font-size: 20px;
                        cursor: pointer;
                        color: rgb(85, 84, 84);
                    }
                    i:hover{
                        color: rgb(11, 13, 148);
                    }
                }
            }
        }
        .messenger{
            position: fixed;
            bottom: 50px;
            right: 50px;
            i{
            color: rgb(31, 108, 252);
            font-size: 48px;
            }
        }
    }
    .welcome{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color:  rgba(88, 110, 139, 0.8);
        .icon{
            width: 100px;
            float: right;
            i{
                font-size: 36px;
                padding-top: 50px;
                padding-right: 50px;
                color: #fff;
                cursor: pointer;
            }
        }
        .text{
            padding-top: 15%;
            width: 80%;
            margin: auto;
            height: 500px;
            text-align: center;
            p{
                text-align: start;
                color: #fff;
                font-size: 22px;
            }
        }
        h1{
            font-size: 56px;
            color: rgb(145,249,230);
        }
    }
    .checkbox{
        display: none;
    }
    #cross:checked~.welcome{
        display: none;
    }
    .about{
        width: 100%;
        position: absolute;
        z-index: 100;
        top: 0;
        left: -1500px;
        transition: all 2s linear;
        display: flex;
        .cola{
            width: 50%;
            padding-bottom: 50px;
            max-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: conic-gradient(orange, rgb(219, 209, 152), pink,white, aqua, antiquewhite, white, orange);
            .icon{
                padding-bottom: 10%;
                visibility: hidden;
            }
            .img{
                width: 60%;
                height: 70%;
                border-radius: 20px;
                box-shadow: 0 15px 5px 15px rgba(71, 71, 70, 0.7);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
        .colb{
            width: 50%;
            height: 100%;
            min-height: 100vh;
            background-image: conic-gradient(orange, rgb(219, 209, 152), pink,white, aqua, antiquewhite, white, orange);
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .row{
                width: 90%;
                margin: auto;
                border: 2px solid rgb(255, 255, 255);
                border-radius: 10px;
                margin: 10px;
                transition: all 1.5s linear;
                cursor: pointer;
                padding: 10px;
                h4{
                    color: #252323;
                    font-style: italic;
                }
                p{
                    padding-top: 5px;
                    display: none;
                    transition: all 1.5s linear;
                }
            }
            .row:hover p{
                display: block;
            }
            .row:hover{
                background-image: radial-gradient(white, rgb(15, 86, 240));            }
        }
        .icon{
            width: 100%;
            i{
                font-size: 28px;
                padding-top: 20px;
                padding-right: 50px;
                color: #fff;
                cursor: pointer;   
                float: right;
            }
        }
    }
    #ab:checked~.about{
        transform: translateX(1500px);
    }
}
@media screen and (max-width: 820px){
    .welcome{
        display: none;
    }
    .about{
        width: 100%;
        flex-direction: column;
        .cola{
            width: 100% !important;
            .icon{
                visibility: visible !important;
            }
        }
        .colb{
            .icon{
                display: none;
            }
            width: 100% !important;
            padding-bottom:40px ;
            padding-top: 40px;
        }
    }
    .holboo{
        display: none;
    }
    .contact{
        .container{
            flex-wrap: wrap;
            .holbogdoh{
                margin: auto;
            }
        }
    }
    nav{
        .cola{
            width: 100% !important;
            padding: 10px;
        }
        .colb{
            display: none;
        }
    }
    .smile{
        max-height: 250px;
    }
    .service{
        .container{
            grid-template-columns: 48% 48% !important;
            grid-template-rows: repeat(4, 50vh) !important;
        }
    }
   
}
@media (max-width: 620px){
    .contact{
        .img{
            display: none;
        }
        .form{
            margin: auto;
            gap: 10px;
        }
    }
    .home{
        h1{
            font-size: .6em;
        }
        h4{
            font-size: .5;
        }
        p{
            font-size: .3;
        }
    }
    
}
@media (max-width: 420px){
    nav{
        .cola{
            width: 100% !important;
            padding: 10px;
            ul{
                gap: 1%;
                li{
                    font-size: 14px;
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        .colb{
            display: none;
        }
    }
    .footer{
        display: none;
    }
    .home{
        h4{
            padding: 20%;
            padding-left: 2%;
            font-size: .7;
        }
        h1{
            font-size: 1em;
        }
        p{
            display: none;
        }
    }
    
    .service{
        .container{
            gap:1% !important;
            grid-template-columns: 100% !important;
            grid-template-rows: repeat(8, 50vh) !important;
        }
    }
    .form{
        h4{
            font-size: 18px;
        }
        input{
            width: 200px !important;
        }
    }
}
